spring:
  application:
    name: aivle_4th_MiniProject_team19

  datasource:
    url: jdbc:h2:mem:BOOKSTORE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    root: INFO
